language = "java10"
run = "javac -d bin src/RecursionTDD/Group4.java; javac -d bin -sourcepath src -classpath lib/junit-platform-console-standalone-1.7.0-M1.jar src/RecursionTDD/Group4Test.java; java -jar lib/junit-platform-console-standalone-1.7.0-M1.jar --class-path bin -c RecursionTDD.Group4Test"
